@use './variables';

@mixin circle {
    display: inline-block;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    padding: 0em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin container {
    margin: 0.3em;
}

@mixin submit-button {
    border: 1px solid darken(variables.$primary-color, 20%);
    background-color: darken(variables.$primary-color, 25%);
    color: white;
    cursor: pointer;

    &:hover {
        background-color: white;
        color: darken(variables.$primary-color, 20%);
    }
}

@mixin alerts {
    display: none;
    color: #9b4f6a
}