@use './styles';
@use './variables';

section {
    @include styles.container;
    margin-top: 1em;

    #searchBy {
        display: flex;
        justify-content: space-between;
    }

    .submit {
        @include styles.submit-button;
        border-radius: 10%;
        margin: 0;
    }

    #searchBars {
        display: flex;
        justify-content: space-around;

        input {
            width: 80%;
        }
    }

    .alert {
        @include styles.alerts;
    }
}