@use './variables';

body {
    margin: 0;
    background-color: variables.$background-color;
}

header {
    background-color: variables.$primary-color;
    padding: 0.5em;
    position: sticky;
    top: 0px;

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-left: 0;
        margin: 0;
    }

    li {
        list-style: none;
        margin: 0.5em;
    }

    .header-link {
        text-decoration: none;
        color: darken(variables.$placeholder-black, 5%);
    }
}