@use './styles';
@use './variables';

.resultCard {
    @include styles.faint-border;
    background-color: white;
    margin-bottom: 0.5em;
    display: grid;
    grid-template-columns: 0.3fr repeat(3, 1fr);
    grid-template-areas:
        "n n n n"
        "as as as as"
        "st st o o"
        "notes notes notes notes";
    grid-gap: 0.3em;
    padding: 0.2em;

    &:hover {
        box-shadow: 0 0 10px 1px rgb(172, 171, 171);
    }

    label {
        color: darken(variables.$placeholder-black, 15%);
    }

    #name {
        grid-area: n;
    }

    #all-setups {
        grid-area: as;
        display: flex;
        flex-direction: column;
        margin-top: 0.2em;
        margin-bottom: 0;
    }

    #stringer {
        grid-area: st;
    }

    #on-court {
        grid-area: o;
        justify-self: end;

        #on-court-indicator {
            @include styles.circle;
            height: 14px;
            width: 14px;
            padding-bottom: 0.1em;
        }
    }

    .yes {
        background-color: #4f8f9b;
    }

    .no {
        background-color: #b8babb;
    }

    #notes {
        grid-area: notes;

        p {
            margin: 0.3em 0 0.3em 0;
        }
    }

    #combo {
        margin-bottom: 0.5em;
        display: grid;
        grid-template-columns: 0.3fr repeat(3, 1fr);
        grid-template-areas: "nr s s s";
        grid-gap: 0.3em;
        padding: 0.2em;

        #num-of-racquets {
            grid-area: nr;
        }

        #setup {
            grid-area: s;
            line-height: 1.2em;
        }
    }

}