@use './styles';

form {
    @include styles.flex-column;
    margin: 0.3em;

    * {
        margin: 0.2em 0.1em 0.2em 0.1em;
    }
}

#more-orders {
    @include styles.circle;
    background-color: rgb(97, 167, 229);
    color: white;
    height: 20px;
    width: 20px;
}

#noteLabel {
    @include styles.flex-column;

    textarea {
        margin-top: 0.3em;
    }
}

input[type=submit] {
    margin-top: 1em;
}